.modal-body {
  border: 1.5px solid rgba(9, 45, 132, 1);
  border-radius: 5%;
  padding: 15px;
  height: 50vh;
  overflow-y: scroll;
}

.creation-timestamp {
  display: flex;
  flex-direction: column;
  margin: 20px -5px 0;
}

.creation-timestamp p {
  margin: 0 5px;
}


